@import url('https://fonts.googleapis.com/css2?family=Baloo+Bhai+2&family=Lato:ital@1&family=Poppins:wght@300;400;500;600;700&family=Roboto:wght@400;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
--White: hsl(0, 0%, 100%);
--Light-gray: hsl(212, 45%, 89%);
--Grayish-blue: hsl(220, 15%, 55%);
--Dark-blue: hsl(218, 44%, 22%);
}
img{
    width: 100%;
}

body{
    font-family: 'Baloo Bhai 2', cursive;
    font-size: 15px;
    background-color: hsl(212, 45%, 89%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: calc(100vh-1px);
    margin: 1.25rem;
    font-weight: bold;
}
.container{
    background-color: hsl(0, 0%, 100%);
    padding: 1rem;
    border-radius: 0.625rem;
    box-shadow: 5px 5px 5px rgba(0,0,0,0.05);
    margin-bottom: 1rem;
    margin-top: 2rem;
}
.container img{
    border-radius: 0.625rem;
    margin-bottom: 1rem;
}
.container h1{
    color: hsl(218, 44%, 22%);
    text-align: center;
    margin-bottom: 1rem;
}
.container p{
    color: hsl(220, 15%, 55%);
    text-align: center;
}

.attribution { 
    font-size: 11px; 
    text-align: center; 
}
.attribution a {
     color: hsl(228, 45%, 44%); 
}

 @media (min-width: 500px) {
    .container{
        width: 400px;
    }
}